body {background-color: blue;}


.speech {
    width: 300px;
    line-height: 100px;
    margin: 200px auto;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: 950;
    color: rgb(53, 7, 95);
    font-family: arial;
    position: relative;
    border-radius: 1em;
  }
.speech:before {
    content: "";
    width: 0px;
    height:0px;
    position: absolute;
    border-left: 30px solid #00bfb6;
    border-right: 30px solid transparent;
    border-top: 30px solid #00bfb6;
    border-bottom: 30px solid transparent;
    right: -30px;
    top: 20px;
  }
  